* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('images\8779025.jpg');
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #000000;
    background-color: rgba(4, 255, 213, 0.336);
}

header {
    position: fixed;
    width: 100%;
    background: rgb(41, 41, 41);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar {
    position: relative;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;

}

.navbar .nav-toggle {
    display: flex;
}


nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    padding: 1em 2em;
    display: inline-block;
}

nav ul li a:hover,
nav ul li a.active {
    background: #5c5c5c;
}

.home {
    background: rgb(201, 130, 0);
    text-align: left;
}

h2 {
    margin-left: 15px;
}

.hero {
    height: 60vh;
    background-image: url('images\8779025.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 60px;
}

.hero h1 {
    font-size: 2.5em;
}

.about-content {
    display: flex;
    margin: 15px;
    padding: 20px;
    background: rgb(219, 255, 249);
    border-radius: 10px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin-right: 20px;
}

.project-card {
    background: rgb(219, 255, 249);
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project-card a {
    text-decoration: none;
    color: #007BFF;
}

.contact {
    margin-right: 10px;
}

form {
    margin-left: 10px;
    display: flex;
    flex-direction: column;

    max-width: 500px;
}

form label {
    margin: 10px 0 5px;
}

form input,
form textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #080808;
    color: white;
    cursor: pointer;
}

form button:hover {
    background: #464646;
}

footer {
    margin-top: 10px;
    text-align: center;
    padding: 20px;
    background: #333;
    color: white;
}

footer a {
    color: #007BFF;
}

.navbar .hamburger {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    border: unset;
    background: unset;
    cursor: pointer;
}

.navbar .hamburger svg {
    stroke: #ffffff;
}

@media screen and (max-width: 700px) {
    .about-content {
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-toggle {
        display: none;
    }

    nav ul {
        justify-content: left;
    }
}